* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER START */ 
.containertop {
    width 100%;
} 
header {
    background-image: url('../assets for project1/photoshop/design-assets/bgk-header.png');
    }
.navbar {   margin: 20px auto;
    max-width: 1000px;}

#navbarlogo {float:left;
}
ul {float:right;}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}

li a {color: inherit;}

nav li {
    display: inline-block;
    margin-left: 80px;
    padding-top: 20px;
}

.heroweare {display: flex; 
            flex-wrap: wrap;
            align-content:center; 
        }

.contentweare {align-content: center;}




/* HEADER END */

/* MAIN START */

/* our story */
.learn-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: lightblue;
    text-decoration: none;
    border: 1px solid lightblue;
    font-weight: bold;
}

.our-story {
    font-family: Arial, sans-serif;
    font-size: 16 px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 1000px;
    background-color: white;
}

.story {
    flex : 1;
   
}

.story h2 {
    margin-top: 50px;
}
.story p {
    margin-bottom: 40px;
    margin-top: 40px;
}

.big-logo {
    flex: 0 0 auto;
    margin-right: 50px;
}

/* Video */
.video {
    position: relative;
    height: 50rem;
    margin: auto;
    background-image: url("./assets for project1/photoshop/design-assets/bgk-middle.png");
    background-size: cover;
    background-position: center;
}

.play-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.play-box a {
    display: block;
}

.watchstory-text {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: white;
}

/* Expertise */
/* .expertise {
    display: flex;
    text-align: center;
    justify-content: center;
} */
.expertise-title h2{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.expertise-title p{
    display: flex;
    justify-content: center;
}
.expertise-grid {
    font-family: Arial, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px 0 50px 0;
}
.expertise-grid h5 {
    padding: 10px;
    font-weight: 800;
}
.expertise-grid > div {
    padding: 25px; 
}
.expertise-grid {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.expertise-grid > div {
    border-left: 1px solid white;
    border-right: 1px solid red;
}


/* Team */
.meet-team {
    position: relative;
    height: 50rem;
    margin: auto;
    background-image: url("./assets for project1/photoshop/design-assets/bgk-header.png");
    background-size: cover;
    background-position: center;
}

.title-team { 
    font-size: 12 px;
    color: white;
    padding: 30px;
    
}
.title-team h2 {
    padding: 40px 0px 8px 0px;

    display: flex;
    justify-content: center;
}

.title-team p{
    display: flex;
    justify-content: center;
}

.team-box {
    display: flex;
    margin: 0px auto 0px auto ;
    max-width: 1000px;
}

.framebox {
    flex: 1;
    position: relative;
    margin: 0 10px;
    background-color: white;
    height: 250px;
    border: 1px solid white;
}

.box {
    flex: 1;
    position: relative;
    margin: 0 10px;
    background-color: transparent;
    height: 100px;
    border: 1px solid white;
}
  

.team-name {
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: white;
}
  
.team-name h2 {
    margin: 0;
}
  
.team-name p {
    margin: 0;
}

.we-hiring {
    font-family: Arial, sans-serif;
    font-size: 16 px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.we-hiring p {
    margin-bottom: 20px;
    color: white;
}

.we-hiring a {
    margin-top: auto;
}

.hiring-btn{
   
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: lightblue;
    text-decoration: none;
    border: 1px solid lightblue;
    
}


/* Contact */

.contact {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 20px auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-evenly
}


fieldset {
    padding: 1rem;
}

.companys-logos1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.companys-logos2 {
    padding-top: 2.6rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


/* MAIN END */

/* FOOTER START */

footer {
    padding: 2rem;
    background-image: url("./assets for project1/photoshop/design-assets/bgk-footer.png");
    background-size: cover;
    background-position: center;
    color: white;
}

.three-blocks-footer {
    margin: 20px auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    
}

.comp-logo-plus-lorem {
    max-width: 25%;
    
   
} 

.only-for-flexing {
    display: flex;
    align-items: center;
    
}

.tajam-letters-footer {
    font-size: 2em;
    padding-left: 25px;
    padding-bottom: 25px;
}

.logo-img-for-footer {
    padding-bottom: 2rem;
}

.little-icons {
    padding-bottom: 3rem;
    padding-right: 1rem;
}


.second-block {
   display: block; 
}

.mapb-adress {
    display: flex;
    margin-top: 4rem;
}

.subscribe-and-map {
    padding-top: 4rem ;
    display: flex;
    gap: 1rem;
 
}

.button-for-footer {
    color: white;
    padding: 8px;
    background-color: transparent;
    
}

.button-for-footer2 {
    padding: 8px;
    width: 4.5rem;
    opacity: 0.4;
    
}

.socialmedia-icons {
    display: flex;
    padding-top: 2rem;
    gap: 5px;
}

.last-row {
    margin: 20px auto;
    max-width: 1000px;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
    

}

.help-terms-privacy {
    display: flex;
    align-content: space-between;
    gap: 3rem;
    
    

}

/* FOOTER END */

