* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER START */ 



/* HEADER END */

/* MAIN START */

/* our story */
.learn-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: lightblue;
    text-decoration: none;
    border: 1px solid lightblue;
    font-weight: bold;
}

.our-story {
    font-family: Arial, sans-serif;
    font-size: 16 px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 1000px;
    background-color: white;
}
.big-logo {
    flex: 0 0 auto;
    margin-right: 50px;
}

.story {
    flex : 1;
   
}

h2 {
    margin-bottom: 15px;
}
p {
    margin-bottom: 50px;
}

.video {
    position: relative;
    height: 30rem;
    margin: auto;
    background-image: url("./assets for project1/photoshop/design-assets/bgk-middle.png");
    background-size: cover;
    background-position: center;
}

.play-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.play-box a {
    display: block;
}

.watchstory-text {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: white;
}




/* Expertise */

/* Team */

/* Contact */

/* MAIN END */

/* FOOTER START */

/* FOOTER END */

